<!-- Detta är första sidan css:en är redan länkad-->

<section class="header">
  <div class="nav">
    <div class="nav-left">
      <a href="/" class="nav-title">Dev Cafés</a>
      <a class="nav-location" href="#">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        Stockholm
      </a>
    </div>
    <div class="nav-right">
      <a href="/new-venue" class="nav-add">
        <i class="fa fa-plus" aria-hidden="true"></i>

      </a>
    </div>
  </div>

  </section>

<section class="main">

    <div class="cards">
      <ul class="cards-list">
        {{#each venues}}
        <li class="cards-list-item">
          <a href="#" class="cards-link">
            <div class="cards-header-info">


              <div class="cards-header">
                <div class="child-img">


                  {{#if image}}
                    <img class="blur" src="{{image}}" />
                  {{else}}
                    <div class="cards-header-bg">
                    </div>
                  {{/if}}
                </div>
                <p class="cards-header-p ">
                  {{name}},<br/> {{adress}}
                </p>
              </div>
              <div class="cards-info">
                <p>
                  {{description}}
                </p>
                {{#if options.wifi}}
                  <i class="fa fa-wifi availability-icon" data-option="on" aria-hidden="true"></i>
                {{else}}
                  <i class="fa fa-wifi availability-icon" data-option="off" aria-hidden="true"></i>
                {{/if}}
                {{#if options.toilet}}
                  <i class="icon-toilet availability-icon" data-option="on" aria-hidden="true"></i>

                {{else}}
                  <i class="icon-toilet availability-icon" data-option="off" aria-hidden="true"></i>

                {{/if}}
              </div>
              </div>
          </a>
        </li>
        {{/each}}
      </ul>
  </div>
</section>
